body * {
  font-family: 'Unbounded', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7fafc;
  color: #171923;
  margin: 0;
}

.header,
.search-field {
  background-color: #171923;
  color: #f7fafc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid #edf2f714;
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: 4rem;
  padding-right: 4rem;
  height: 100%;
  border-right: 1px solid #edf2f714;
}

.menu {
  display: flex;
  width: 100%;
  margin-left: 4rem;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 300;
  font-size: 14px;
}

.menu ul {
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.menu ul .inactive {
  color: #655f5f;
  cursor: not-allowed;
  text-decoration: none;
}

.select-country {
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  height: 100%;
  border-left: 1px solid #edf2f714;
}

.select-country span {
  margin-left: 1rem;
}

.search-field {
  display: flex;
  /* font-size: 40px; */
  font-size: 32px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.headline-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-select {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 1rem;
  min-width: fit-content;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.select-container {
  width: max-content;
  display: inline-block;
}

.search-results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 15rem));
  justify-content: center;
  gap: 1rem;
}

.search-results-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 24px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-column: 1 / -1;
}

.found-amount {
  font-size: 18px;
  border: 1px solid #a0aec0;
  padding: 0.5rem 0.75rem;
  border-radius: 10000px;
}

.input-field {
  margin-top: 1rem;
}

.master-card {
  min-width: 15rem;
  height: 21rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid #d9d9d9;
  background: #f7fafc;
}

.master-card:hover {
  transition: transform 0.1s ease-out;
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px #171923;
}

.master-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 15px 10px;
  min-width: 14rem;
  height: 16.60906rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  /* opacity: 0.15; */
  /* background: #fbbc0535; */
}

.master-card-header {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  opacity: 1;
}

.bookmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #f7fafc;
  border-radius: 1000px;
}

.master-card-name {
  color: #171923;
  margin-top: 0.75rem;
  font-size: 20px;
  font-weight: bold;
}

.master-card-profession {
  margin-top: 0.25rem;
  color: #171923;
  font-size: 16px;
  font-weight: normal;
}

.master-card-collapse {
  margin-top: 0.5rem;
  font-size: 12px;
}

.mastercard-location {
  margin-top: 0.5rem;
  margin-left: -3px;
  display: flex;
  align-items: center;
  color: #655f5f;
  font-weight: 300;
  font-size: 12px;
  gap: 0.5rem;
}

.mastercard-content {
  margin-top: 0.5rem;
  color: #655f5f;
  font-weight: 300;
  font-size: 10px;
}

.mastercard-tag-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.mastercard-tag {
  display: flex;
  flex-direction: row;
  color: #655f5f;
  border: 1px solid #655f5f;
  max-width: fit-content;
  font-size: 10px;
  padding: 10px;
  border-radius: 50px;
}

.master-card-footer {
  display: flex;
  justify-content: flex-end;
}

.master-card-footer .details {
  border: none;
  outline: none;
  margin: auto 10px;
  width: 100%;
  background-color: #171923;
  color: #ffffff;
  border-radius: 1000px;
  padding: 10px 15px;
}

.details:hover {
  transition: 0.1s ease-out;
  background-color: #4fd1c5;
  color: #171923;
  cursor: pointer;
}
