:root {
  --base-font-size: 16px;
  --scaling-factor: 1;
}

body * {
  font-family: 'Unbounded', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7fafc;
  color: #171923;

  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.search-field,
.footer {
  background-color: #171923;
  color: #f7fafc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid #edf2f714;
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: 4rem;
  padding-right: 4rem;
  height: 100%;
  border-right: 1px solid #edf2f714;
  cursor: pointer;
}

.menu {
  display: flex;
  width: 100%;
  margin-left: 4rem;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 300;
  font-size: calc(var(--base-font-size) * 0.875);
}

.menu ul {
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.menu ul .inactive {
  color: #655f5f;
  cursor: not-allowed;
  text-decoration: none;
}

.select-country {
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  height: 100%;
  border-left: 1px solid #edf2f714;
}

.select-country span {
  margin-left: 1rem;
}

.search-field {
  display: flex;
  font-size: calc(var(--base-font-size) * 2);
  font-weight: 300;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.search-field span {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-left {
  justify-content: flex-end;
}

.search-right {
  justify-content: flex-start;
}

.headline-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-select {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 1rem;
  min-width: fit-content;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.select-container {
  width: max-content;
  display: inline-block;
}

.search-results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 15rem));
  justify-content: center;
  gap: 1rem;
  perspective: 10000px;
}

.search-results-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: calc(var(--base-font-size) * 1.5);
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-column: 1 / -1;
}

.found-amount {
  font-size: calc(var(--base-font-size) * 1.125);
  border: 1px solid #a0aec0;
  padding: 0.5rem 0.75rem;
  border-radius: 10000px;
}

.input-field {
  margin-top: 1rem;
}

/* 


======== Card styles ======== 


*/

.master-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 15rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid #d9d9d9;
  background: #f7fafc;

  transition: transform 0.5s;
  z-index: 10;
}

.master-card:hover {
  transition: transform 0.1s ease-in-out;
  transform: scale(102%);
  box-shadow: 3px 3px #171923;
}

.master-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 15px 10px;
  min-width: 14rem;
  height: 16rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
}

.master-card.flipped {
  animation: masterCardFlip 0.5s;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px black;
}

.master-card.flipped:hover {
  box-shadow: 0px 0px black;
}

.master-card-header {
  display: flex;
  height: calc(var(--base-font-size) * 2 * var(--scaling-factor));
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  opacity: 1;
}

.card-avatar {
  height: calc(var(--base-font-size) * 2 * var(--scaling-factor));
  width: calc(var(--base-font-size) * 2 * var(--scaling-factor));
}

.card-avatar {
  font-size: calc(var(--base-font-size) * var(--scaling-factor));
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-container {
  height: calc(var(--base-font-size) * 1.875 * var(--scaling-factor));
  width: calc(var(--base-font-size) * 1.875 * var(--scaling-factor));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
  border-radius: 1000px;
}

.master-card-name {
  color: #171923;
  margin-top: 0.75rem;
  font-size: calc(var(--base-font-size) * 1.25 * var(--scaling-factor));
  font-weight: bold;
}

.master-card-profession {
  margin-top: 0.25rem;
  color: #171923;
  font-size: calc(var(--base-font-size) * var(--scaling-factor));
  font-weight: normal;
}

.mastercard-location {
  margin-top: 0.5rem;
  margin-left: -3px;
  display: flex;
  align-items: center;
  color: #655f5f;
  font-weight: 300;
  font-size: calc(var(--base-font-size) * 0.75 * var(--scaling-factor));
  gap: 0.5rem;
}

.mastercard-contacts {
  display: none;
}

.mastercard-contacts.flipped {
  display: block;
}

/* .mastercard-content {
  margin-top: 0.5rem;
  color: #655f5f;
  font-weight: 300;
  font-size: 10px;
} */

.mastercard-tag-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.mastercard-tag {
  display: flex;
  flex-direction: row;
  color: #655f5f;
  border: 1px solid #655f5f;
  max-width: fit-content;
  font-size: calc(var(--base-font-size) * 0.625 * var(--scaling-factor));
  padding: 10px;
  border-radius: 50px;
}

.master-card-footer {
  display: flex;
  justify-content: flex-end;
}

.master-card-footer .details {
  border: none;
  outline: none;
  margin: 0 10px 10px 10px;
  width: 100%;
  background-color: #171923;
  color: #ffffff;
  border-radius: 1000px;
  padding: 10px 15px;
  font-size: calc(var(--base-font-size) * var(--scaling-factor));
}

.details:hover {
  transition: 0.1s ease-out;
  background-color: #4fd1c5;
  color: #171923;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-overlay-inside {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.terms {
  display: flex;
  margin-left: 4rem;
  border-right: 1px solid #edf2f714;
  padding-right: 4rem;
}

.terms ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.25rem;
}

.terms li {
  cursor: pointer;
}

.terms li:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.love {
  margin-right: 4rem;
}

.love span {
  margin-left: 0.5rem;
}

@media (max-width: 1024px) {
  .search-field {
    flex-direction: column;
    height: min-content;
    font-size: 24px;
  }

  .search-left,
  .search-right {
    justify-content: center;
    height: 4rem;
  }

  .logo {
    margin-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    border-right: 1px solid #edf2f714;
  }

  .logo img {
    width: 100px;
  }

  .select-country {
    padding-left: 2rem;
    margin-right: 2rem;
  }

  .select-country span {
    margin: none;
  }

  .select-country span:last-child {
    display: none;
  }
}

@media (max-width: 480px) {
  :root {
    --scaling-factor: 1.25;
  }

  .search-field {
    font-size: 18px;
  }

  .header {
    height: 4rem;
  }

  .search-left {
    position: relative;
    top: 5px;
  }

  .search-right {
    position: relative;
    top: -5px;
  }

  .search-left,
  .search-right {
    height: 3rem;
  }

  .logo {
    margin-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    border-right: 1px solid #edf2f714;
    width: 100%;
  }

  .logo img {
    width: 80px;
  }

  .menu {
    display: none;
  }

  .search-results-header {
    margin: 0 2rem;
  }

  .search-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .master-card {
    width: 80%;
    max-width: 300px;
    margin: auto;
    border-radius: 1.25rem;
    border: 1px solid #d9d9d9;
    background: #f7fafc;
    height: fit-content;
  }

  .master-card:hover {
    transition: none;
    transform: none;
    box-shadow: none;
  }

  .master-card-body {
    margin: 10px;
    padding: 15px 10px;
    min-width: 14rem;
    min-height: 18rem;
    flex-grow: 3;
    height: fit-content;
    border-radius: 0.625rem;
  }

  .master-card-footer .details {
    margin-bottom: 10px;
  }
}

@keyframes masterCardFlip {
  to {
    transform: rotateY(180deg) scale(110%);
    z-index: 1000;
  }
}
