body * {
  font-family: Montserrat;
}

.headline-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-container {
  width: max-content;
  display: inline-block;
}

.search-results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.master-card {
  align-self: flex-start;
}
.card-content {
  margin-top: 1rem;
}

.card-city {
  margin-left: 0.5rem;
}
